<div layout="row" layout-sm="column" layout-padding="30">
    <div flex-gt-sm="20" flex-gt-md="30" flex="100" hide-xs></div>
    <div flex-gt-sm="60" flex-gt-md="40" flex="100">
        <h1 class="text-center"><span class="glyphicon glyphicon-remove"></span> Oops something went wrong</h1>
        <span>We're sorry but something seems to have gone wrong, please try again.</span>
        <button class="btn-fw btn-std btn-submit" ng-click="goMain()">Take me to the subscription page!</button>
    </div>
    <div flex-gt-sm="20" flex-gt-md="30" flex="100" hide-xs></div>
</div>

