span.glyphicon-ok {
  font-size: 1em;
  color: green;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

span.glyphicon-remove {
  font-size: 1em;
  color: red;
  position: relative;
  top: 5px;
  margin-right: 10px;
}